**/node_modules
**/.wrangler
**/.dev.vars
**/dist
**/.DS_Store
**/*.log
**/data
**/.env
**/.env.local
.git
.gitignore
.github
LICENSE
services/pokemon-stock/Makefile
services/pokemon-stock/Makefile.local
services/pokemon-stock/compose.yaml
services/pokemon-stock/compose.dev.yaml
services/pokemon-stock/.dockerignore
services/pokemon-stock/.env*
